
body {
    font-family: 'Jockey One', sans-serif;
    font-size: 20px;
    line-height: 25px;
    background-color: #264653;
    color: #2a9d8f;
}
.gugi {
    font-family: 'Gugi', cursive;
    color: #2a9d8f;
    background-color: #e9c46a;
    padding: 10px;
}
h1 {
    line-height: 35px;
}
strong, em {
    color: #dddf00;
}
.lemon {
    color: #dddf00;
}
img {
    border-radius: 100%;
}